body {
    background: url(../images/prism.png);
}

#title {
    color: blue;
    font-family: 'Cinzel', serif;
    border: 3px solid pink;
    padding: 10px;
    font-weight: bold;
    background-color: #BDFAF3;
}

#directions {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 100%;
    text-align: center;
    border: 2px solid purple;
    padding: 10px;
    background-color: #F1E8FC ;
    margin-bottom: 10px;
}
#gem-row {
    display: flex;
}

#gem-row .col {
    flex: 1;
}

#number-box {
    text-align: center;
    border: 3px solid green;
    background-color: lightgreen;

}

#total-score {
    border: 3px solid purple;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
    background: lightgoldenrodyellow;

}

#win-loss-box {
    border: 3px solid pink;
    margin-left: 36%;
    margin-top: 20px;
    padding: 10px;
    background: lightcyan;
}